
.card{
  width: 25%;
}
@media (min-width: 992px)
.card {
  display: block;
  text-align: center;
  padding: 1rem;
  position: relative;
  width: 25%;
}
.card img{
  width: 100%;
  height: auto;
}
.product-container{
  display: flex;
  flex-wrap: wrap;

}
.btn-primary{
  margin:15px;
}
